a=[1,2,3,4,5,6,7,8]  
a에서 짝수값의 제곱으로 리스트를 만들어라

2,5,8의 리스트를 만들어라

"my lovely fans" 각 단어로 리스트를 만들어라

"my lovely fans" 단어 y로 나누어 리스트를 만들어라

dict={1: "one", 2: "two"}
3: "three"를 추가하고 3이 있는지 확인해라

다음(Daum)의 주가가 89,000원이고 네이버(Naver)의 주가가 751,000원이라고 가정하고, 
어떤 사람이 다음 주식 100주와 네이버 주식 20주를 가지고 있을 때 그 사람이 가지고 있는 주식의 총액을 계산하는 프로그램을 작성하세요.

문제 2-1에서 구한 주식 총액에서 다음과 네이버의 주가가 각각 5%, 10% 하락한 경우에 손실액을 구하는 프로그램을 작성하세요.

우리나라는 섭씨 온도를 사용하는 반면 미국과 유럽은 화씨 온도를 주로 사용합니다. 화씨 온도(F)를 섭씨 온도(C)로 변환할 때는 다음과 같은 공식을 사용합니다. 이 공식을 사용해 화씨 온도가 50일 때의 섭씨 온도를 계산해 보세요.

C = (F-32)/1.8

화면에 "pizza"를 10번 출력하는 프로그램을 작성하세요.

월요일에 네이버의 주가가 100만 원으로 시작해 3일 연속으로 하한가(-30%)를 기록했을 때 
수요일의 종가를 계산해 보세요.

s라는 변수에 'Daum KaKao'라는 문자열이 바인딩돼 있다고 했을 때 
문자열의 슬라이싱 기능과 연결하기를 이용해 s의 값을 'KaKao Daum'으로 변경해 보세요.

a라는 변수에 'hello world'라는 문자열이 바인딩돼 있다고 했을 때 a의 값을 'hi world'로 변경해 보세요.

x라는 변수에 'abcdef'라는 문자열이 바인딩돼 있다고 했을 때 x의 값을 'bcdefa'로 변경해 보세요.

Naver_closing_price = [474500, 461500, 501000, 500500, 488500]  
최대값을 뽑아내라

최소값을 뽑아내라

최대값-최소값은?

세번째 값을 뽑아내라

naver_closing_price2={"9/7":474500, "9/8": 461500, "9/9": 501000, "9/10": 500500, "9/10": 488500}  
9월 11일 500000을 추가하고 9월 11일 값을 출력해라